<div class="post-footer post-footer-on-bottom no-print">
    <div class="share-links  share-centered">
        <div class="share-title">
            <span class="fa fa-share-alt" aria-hidden="true"></span>
            <span> Share</span>
        </div>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="facebook-share-btn large-share-button"><span class="fa fa-facebook"></span> <span class="social-text">Facebook</span></a>

        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=bootyocean18" rel="nofollow" target="_blank" title="Share on Twitter" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="twitter-share-btn large-share-button"><span class="fa fa-twitter"></span> <span class="social-text">Twitter</span></a>

        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="google-share-btn"><span class="fa fa-google"></span> <span class="screen-reader-text">Google+</span></a>

        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.summary }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share On LinkedIn" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="linkedin-share-btn"><span class="fa fa-linkedin"></span> <span class="screen-reader-text">LinkedIn</span></a>

        <a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" rel="external" target="_blank" class="email-share-btn"><span class="fa fa-envelope"></span> <span class="screen-reader-text">Share via Email</span></a>

        <a href='javascript:window.print()' rel='nofollow' title='Print/save Dokumen'><i aria-hidden='true' class='fa fa-print no-print print-share-btnno-print'></i></a>
    </div>
</div>
