 <div class="col-md-4">
<div class="card border-0 shadow mb-4">
<div class="card-body">{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign sortedCategories = site_categories | split:',' | sort %}
            {% for category in sortedCategories  %}		
<div class="d-flex justify-content-between small">
<span class="font-weight-bold">a href="{{site.url}}/{{ category }}">{{ category }}</a></span>
<span>5.1.1</span>
</div>{% endfor %}
</div>
</div>
</div>
