---
layout: compress
---


{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
        {{ content }}
    {% if page.layout == 'post' %} 
    {% include alertbar.html %}
    {% endif %}       
    <div class="container">
    {% include ads-footer.html %}
    </div> 
    {% include footer.html %}
    <div id='kotak-dialog' class="no-print"><h5 class='title'>Tunggu hingga dokumen muncul<a class='closed' href='#'>Tutup <i aria-hidden='true' class='fa fa-window-close'></i></a></h5><div class='isi-dialog'><div id='iframeContainer'></div></div></div><div id='dialog-overlay'></div>
    {% include svg-defs.svg %}
    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    
</body>
</html>
