/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    color: $white;
    background: lighten($colorPrimary, 2%);
    text-align: center;
    z-index:1022;
    small {
        display: block;
    }
}
.social li small {
    font-size: 12px;
}
