/* GLOBAL
-------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 85%;
    @include breakpoint(small) {
        font-size: 90%;
    }
    @include breakpoint(large) {
        font-size: 100%;
    }
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $colorBase;
    font-family: $fontFamilyPrimary;
    font-size: 0.875rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
img.rounded{
    width: 100%;max-height:277.63px
}
.map {
    height: 450px;
}
.post-tags {
    font-size: 12px;
    margin-top: 10px;
}
.sumber {
    font-size: 12px;
    padding: 5px 10px;
    background: #f8f9fa;
    border-radius: 3px;
}
.tag-link {
    color: #555;
    background: #f8f9fa;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.tag-link:hover {
    text-decoration: none;
    background: #eeee;
}
#kotak-dialog{position:fixed;height:auto;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.4);z-index:99999;display:none;overflow:hidden}#kotak-dialog{top:5%;left:5%;right:5%;bottom:5%}#iframeContainer iframe{width:99%;height:570px}#kotak-dialog h5.title{background:#222;padding:5px;color:#bcb9b9}.isi-dialog{padding:5px}a.closed{float:right}#dialog-overlay{position:fixed;position:absolute;z-index:9999;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.10000000149012;display:none}.center.small{padding:10px 12px 12px;border:1px solid #ddd;border-radius:3px;font-size:13px;text-align:center;font-family:"Open Sans",sans-serif;background:#f7f7f7}
.fb-page {
    margin-bottom: 20px;
}
.expandable-box-top {
    height: 337.5px;
    overflow: hidden;
}
