/* GLOBAL
-------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 85%;
    @include breakpoint(small) {
        font-size: 90%;
    }
    @include breakpoint(large) {
        font-size: 100%;
    }
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: $colorBase;
    font-family: $fontFamilyPrimary;
    font-size: 0.875rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
img.rounded{
    width: 100%;max-height:277.63px
}
.map {
    height: 450px;
}
.post-tags {
font-size: 12px;
    margin-top: 10px;
    display: inline-flex;
}
.sumber {
    font-size: 12px;
    padding: 5px 10px;
    background: #f8f9fa;
    border-radius: 3px;
}
.tag-link {
color: #fff;
    background: #ff5f5f;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.tag-link:hover,.tag-link:focus,.tag-link:visited {
    text-decoration: none;
    background: #f54b4b;
    color: #fff;
}
#kotak-dialog{position:fixed;height:auto;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.4);z-index:99999;display:none;overflow:hidden}#kotak-dialog{top:5%;left:5%;right:5%;bottom:5%}#iframeContainer iframe{width:99%;height:570px}#kotak-dialog h5.title{background:#222;padding:5px;color:#bcb9b9}.isi-dialog{padding:5px}a.closed{float:right}#dialog-overlay{position:fixed;position:absolute;z-index:9999;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.10000000149012;display:none}.center.small{padding:10px 12px 12px;border:1px solid #ddd;border-radius:3px;font-size:13px;text-align:center;font-family:"Open Sans",sans-serif;background:#f7f7f7}
.fb-page {
    margin-bottom: 20px;
}
.expandable-box-top {
    height: 337.5px;
    overflow: hidden;
}
#disqusshow{margin:50px auto 30px auto}
#disqusshow{background: #ff5f5f;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    margin: -20px -20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
    transition: all .3s;}#disqusshow:hover,#disqusshow:active{background:#d88b11;color:#fff;box-shadow:0 4px 5px rgba(0,0,0,0.06),0 1px 1px rgba(0,0,0,0.09)}
#books{list-style:none;margin:0;padding:0}.products_box{height:20px;margin-left:20px;text-align:center}.product{float:left;margin-right:20px;margin-top:20px;margin-bottom:20px;height:215px;position:relative;display:block}.product img{display:block;border:none}.product_title{position:absolute;height:48px;width:100%;z-index:999;padding:3px;text-align:center;color:#ffffff;background:#00b5ad;min-height:54px;margin-top:-50px;overflow:hidden;box-shadow:0px 0px 8px rgba(0,0,0,0.4);-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4)}.product_title h3{margin:0;padding:0;font-size:11px;padding:0 2px;line-height:1.3em}
h2.title a {
    color: #333;
    text-decoration: none;
    font-weight: bold
}
h2.title a:hover {color: #f52a2a;}
h2.title {
    font-size: 16px;
}
.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}
/* Adblock */
#arlinablock{background:rgba(0,0,0,0.35);position:fixed;margin:auto;left:0;right:0;top:0;bottom:0;overflow:auto;z-index:999999;animation:fadeInDown 1s}#arlinablock .header{margin:10px 0 25px 0}#arlinablock .inner{background:#fff;color:#000;box-shadow:0 3px 30px rgba(0,0,0,0.15);text-align:center;width:100%;max-width:650px;padding:30px;border-radius:1px;margin:7% auto 2% auto;animation:rubberBand 1s}#arlinablock button{padding:10px 20px;border:0;background:#fff;color:#222;margin:20px 5px 30px 5px;cursor:pointer;box-shadow:0 0 6px rgba(0,0,0,0.1),0 2px 2px rgba(0,0,0,0.13);transition:all .3s}#arlinablock button:hover{color:#222;outline:none;box-shadow:0 2px 10px rgba(0,0,0,0.1),0 2px 6px rgba(0,0,0,0.13)}#arlinablock button.active,#arlinablock button:hover.active{background:#f24a4a;color:#fff;outline:none}#arlinablock .fixblock{background:#fff;text-align:left;color:#000;border:1px solid rgba(0,0,0,0.05);padding:20px;height:280px;overflow:auto;line-height:30px}#arlinablock .fixblock div{display:none}#arlinablock .fixblock div.active{display:block}#arlinablock ol{margin-left:20px}#arlinablock .isi p{margin:0 auto 10px auto}
@media(max-width:768px){#arlinablock .inner{width:calc(100% - 20px);margin:10px auto;padding:15px}}
.arlina-nav .share-box button{border:0;background:transparent;cursor:pointer;transition:all .3s}.arlina-nav .share-box button:hover{color:#e74c3c}
/* Custom Cookies Info */
.cookie-choices-info{background-color:rgba(56,66,75,.97)!important;line-height:normal!important;top:initial!important;bottom:0!important;font-family:inherit!important;-webkit-transform:translateZ(0)}.cookie-choices-info .cookie-choices-text{font-size:14px!important;color:#cee6ea!important}.cookie-choices-info .cookie-choices-button{font-weight:normal!important;color:#fff!important;margin-left:5px!important;padding:3px 6px!important;background:#f64c3b!important;letter-spacing:.8px;transition:all .4s linear}.cookie-choices-info .cookie-choices-button:nth-child(2){background:#f68c2e!important;transition:all .4s linear}.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background:#282f36!important;transition:all .1s linear}#status-message{display:none!important}
